<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Appointments | Hospital Managment System</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<body>
  <!-- Start Container -->
  <div class="bg-light" style="height: 100vh !important">
    <!-- As a heading -->
    <nav class="navbar shadow-sm bg-light">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Admin Panel</span>
      </div>
    </nav>
    <div class="d-flex" style="height: 98vh !important">
      {% include 'common/sidebar.html' %}
      <div class="col p-3">
        <div class="row justify-content-betweeen align-middle my-3">
          <div class="col">
            <h4>Edit Appointment</h4>
          </div>
          <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-primary btn-sm align-middle me-3" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              <i class="bi bi-printer-fill"></i> Print Receipt
            </button>

            <a href="prescription/" type="button" class="btn btn-primary btn-sm align-middle me-3" >
            <i class="bi bi-file-earmark-medical"></i> Prescription
          </a>
          </div>
        </div>
        <form action="/a/appointments/{{appointment.id}}/" method="post">
          {% csrf_token %}

          <div class="row">

            <div class="col-md-6 mb-3">
              <label for="patient" class="form-label">Patient</label>
              <select class="form-select" aria-label="Default select example" name="patient">
                <option selected>Select Patient</option>
                {% for patient in patients %}
                <option value="{{ patient.id }}" {% if patient.id == appointment.patient.id %} selected {% endif %}>
                  {{ patient.first_name }}
                  {{ patient.last_name }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="doctor" class="form-label">Doctor</label>
              <select class="form-select" aria-label="Default select example" name="doctor">
                <option selected>Select Doctor</option>
                {% for doctor in doctors %}
                <option value="{{ doctor.id }}" {% if doctor.id == appointment.doctor.id %} selected {% endif %}>
                  {{ doctor.first_name }}
                  {{ doctor.last_name }}
                </option>
                {% endfor %}
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="amount" class="form-label">Amount</label>
              <input type="number" class="form-control" id="amount" name="amount" value="{{ appointment.amount }}"
                required />
            </div>

            <div class="col-md-6 mb-3">
              <label for="date_time" class="form-label">Date Time</label>
              <input type="datetime-local" class="form-control" id="date_time" name="date_time"
                value="{{ appointment.date_time }}" required />
            </div>

            <div class="col-md-6 mb-3">
              <label for="payment_method" class="form-label">Payment Method</label>
              <select class="form-select" aria-label="Default select example" name="payment_method" required>
                <option selected>Select Payment Method</option>
                <option value="Cash">Cash</option>
                <option value="Card">Card</option>
                <option value="Cheque">Cheque</option>
                <option value="PayLater">Pay Later</option>
              </select>
            </div>

            <div class="col-md-6 mb-3">
              <label for="payment_status" class="form-label">Payment Status</label>
              <select class="form-select" aria-label="Default select example" name="payment_status">
                <option selected>Select Payment Status</option>
                <option value="PENDING">Pending</option>
                <option value="COMPLETED">Completed</option>
              </select>
            </div>
            <div class="row justify-content-end">
              <div class="">
                <button type="submit" class="btn btn-dark">Submit</button>
              </div>
            </div>
        </form>

        <!-- Health Records -->
        <div class="mt-3">
          <div class="d-flex justify-content-between">
            <h4>Health Records</h4>
            <div><button type="button" class="btn btn-primary btn-sm align-middle" data-bs-toggle="modal"
                data-bs-target="#healthRecordModal">
                <i class="bi bi-plus-circle-fill"></i> Add Record
              </button></div>
          </div>

          {% for record in records %}
          <form action="/a/records/" method="post">
            {% csrf_token %}
            {% comment %} hidden record id {% endcomment %}
            <input type="hidden" name="record_id" value="{{record.id}}" />

           <div class="d-flex justify-content-between mt-3">
           <div class="col-4 pe-2">
            <span>Title</span>
            <input type="text" class="form-control" name="title" value="{{ record.title }}" required>

           </div>
            <br>
            <div class="col-6 pe-2">

            <span>Description</span>
            <input type="text" class="form-control" name="description" value="{{ record.description }}" required>
            </div>
            <div class="col-2">
            <button type="submit" class="btn btn-primary mt-4">Update</button>
            </div>
           </div>

            {% comment %} patient id {% endcomment %}
            <input type="hidden" name="patient" value="{{appointment.patient.id}}">
            {% comment %} appointment id {% endcomment %}
            <input type="hidden" name="appointment" value="{{ appointment.id }}">
          </form>
          {% endfor %}


        </div>

        {% comment %} end health records {% endcomment %}

       
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>


  </div>
  <!-- End Container -->


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Receipt</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="print-receipt">
          {% comment %} Receipt with layout from above data {% endcomment %}
          <div class="row">
            <div class="col">
              <h1 class="text-center">Receipt</h1>
            </div>
          </div>
          <p class="text-center mb-0 pb-0 text-dark fw-bold"> Hospital Name </p>
          <p class="text-center mb-0 pb-0 text-dark fw-light"> Address: 123, Street, City, State, Country </p>
          <p class="text-center mb-0 pb-0 text-dark fw-light"> Phone: 1234567890 </p>
          <p class="text-center mb-0 pb-0 text-dark fw-light"> Email: email@Hospital.com </p>

          <div class="row">
            <div class="col">
              <p class="mb-0"> <b>Patient Name: </b>{{ appointment.patient.first_name }} {{
                appointment.patient.last_name }} </p>
              <p class="mb-0"> <b>Doctor Name: </b>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name
                }} </p>
              <p class="mb-0"> <b>Amount:</b> {{ appointment.amount }} </p>
              <p class="mb-0"> <b>Appointment Date Time:</b> {{ appointment.date_time }} </p>
              <p class="mb-0"> <b>Payment Method:</b> {{ appointment.payment_method }} </p>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="PrintReceipt()">Print</button>
        </div>
      </div>
    </div>
  </div>

  {% comment %} health record modal {% endcomment %}
  <div class="modal fade" id="healthRecordModal" tabindex="-1" aria-labelledby="healthRecordModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="healthRecordModalLabel">Health Record</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/a/records/" method="post">
            {% csrf_token %}
            <input type="hidden" name="record_id" value="" />
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            {% comment %} patient id {% endcomment %}
            <input type="hidden" name="patient" value="{{appointment.patient.id}}">
            {% comment %} appointment id {% endcomment %}
            <input type="hidden" name="appointment" value="{{ appointment.id }}">
            <div class="row justify-content-end">
              <div class="">
                <button type="submit" class="btn btn-dark">Submit</button>
              </div>
            </div>
          </form>
        </div>
      


  <script>
    {% comment %} select payment_method based on data {% endcomment %}
    const payment_method = document.querySelector('select[name="payment_method"]');
    payment_method.value = "{{ appointment.payment_method }}";

    {% comment %} select payment_status based on data {% endcomment %}
    const payment_status = document.querySelector('select[name="payment_status"]');
    payment_status.value = "{{ appointment.payment_status }}";

    function PrintReceipt() {
      const printReceipt = document.getElementById('print-receipt');
      const printWindow = window.open('', '', 'height=400,width=800');
      printWindow.document.write(printReceipt.innerHTML);
      printWindow.document.close();
      printWindow.print();
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>